<style></style>
<div class="card" style="font-family: Helvetica">
  <h2><b>Hi <%= @alert.user.first_name %>, you have a new alert!</b></h2>

  <iframe src="https://giphy.com/embed/Yqhr57aohKbKH2emhK" width="480" height="258" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/memecandy-Yqhr57aohKbKH2emhK">via GIPHY</a></p>

  <hr>
  <p>Errors_Array: <%= @errors_array %><p>
  <% @errors_array.each do |error| %>
    <p><strong>What has changed?:</strong> <%= error[:error].capitalize %></p>
    <p><strong>Previously was:</strong> <%= error[:db] %></p>
    <p><strong>Has changed to:</strong> <%= (error[:new] == nil) ? "NIL" : error[:new] %></p>
  <% end %>
  <hr>

  <p><b><%= @alert.country.name %> government's policies have changed</b></p>
  <p>Status: <%= @alert.country.status %></p>
  <p>Quarantine: <%= @alert.country.quarantine %></p>
  <p>Test: <%= @alert.country.test %></p>
  <p>Content: <%= @alert.country.content %></p>
  <p>Goverment URL: <%= @alert.country.government_url %></p>
  <p>Colour: <%= @alert.country.color %></p>
  <p>Upcoming changes: <%= @alert.country.upcoming_changes %></p>
  <br>
  <p><i>2021 - TravelColour</i></p>
</div>
