<div class="d-flex justify-content-center">
  <%= link_to "Explore", country_path(country), class: 'btn cta-btn' %>
</div>
<br>
<br>
<% if !hide %>
  <div class="d-flex align-items-baseline sub-title"><h5><b>Colour</b></h5><i class="fas fa-palette ml-2"></i></div>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="d-flex justify-content-center">
  <div>
    <div class="d-flex justify-content-center">
      <div style="color: <%= country&.color_code %>; font-size: 40px"><i class="fas fa-globe-europe"></i></div>
    </div>
  </div>
</div>
<br>

<% if !hide %>
  <div class="d-flex align-items-baseline sub-title" title="required before arrival"><h5><b>Test</b></h5><i class="fas fa-vial ml-2"></i></div>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <% if country.test.present? %>
    <div class="filled short mt-3">
      <p><%= country&.test %></p>
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>

<% if !hide %>
  <div class="d-flex align-items-baseline sub-title"><h5><b>Quarantine</b></h5><i class="fas fa-house-user ml-2"></i></div>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <% if country.quarantine.present? %>
    <div class="filled short mt-3">
      <p><%= country&.quarantine %></p>
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>

<% if !hide %>
  <div class="d-flex align-items-baseline sub-title"><h5><b>Infos</b></h5><i class="fas fa-info-circle ml-2"></i></div>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <% if country.content.present? %>
    <div class="filled f-start mt-3">
      <p class="module_info"><%= country&.content %></p>
    </div>
    <% else %>
    <div class="empty mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>

<% if !hide %>
  <div class="d-flex align-items-baseline sub-title"><h5><b>Government website</b></h5><i class="fas fa-link ml-2"></i></div>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module_one">
  <% if country.government_url.present? %>
    <div class="filled short mt-3">
      <a class="module_URL" href="<%= country&.government_url %>" target="_blank" class="btn btn-info" role="button"> Gov. <%= country&.name %></a> 
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>

<% if !hide %>
  <div class="d-flex align-items-baseline sub-title"><h5><b>Upcoming changes</b></h5><i class="fas fa-dice ml-2"></i></div>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <% if country.upcoming_changes.present? %>
    <div class="filled mt-3">
      <p><%= country&.upcoming_changes %></p>
    </div>
    <% else %>
    <div class="empty mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>

