<% if !hide %>
  <h5>Colour</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="d-flex justify-content-center">
  <div>
    <div class="d-flex justify-content-center">
      <div class="color-box" style="background-color: <%= country&.color_code %>"></div>
    </div>
    <br>
    <p style="text-align: center"><%= country&.color %></p>
  </div>
</div>
<br>

<% if !hide %>
  <h5>Infos</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <div class="d-flex justify-content-center">
    <div>
      <span style="color: #9f9aa4; font-size: 40px"><i class="fas fa-info-circle"></i></span>
    </div>
  </div>
  <% if country.content.present? %>
    <div class="filled f-start mt-3">
      <p class="module_info"><%= country&.content %></p>
    </div>
    <% else %>
    <div class="empty mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>


<% if !hide %>
  <h5>Test</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <div class="d-flex justify-content-center">
    <div>
      <span style="color: #9f9aa4; font-size: 40px"><i class="fas fa-vial"></i></span>
    </div>
  </div>
  <% if country.test.present? %>
    <div class="filled short mt-3">
      <p><%= country&.test %></p>
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>




<% if !hide %>
  <h5>Status</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <div class="d-flex justify-content-center">
    <div>
      <span style="color: #9f9aa4; font-size: 40px"><i class="fas fa-virus"></i></span>
    </div>
  </div>
  <% if country.status.present? %>
    <div class="filled short mt-3">
      <p><%= country&.status %></p>
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>


<% if !hide %>
  <h5>Quarantine</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <div class="d-flex justify-content-center">
    <div>
      <span style="color: #9f9aa4; font-size: 40px"><i class="fas fa-house-user"></i></span>
    </div>
  </div>
  <% if country.quarantine.present? %>
    <div class="filled short mt-3">
      <p><%= country&.quarantine %></p>
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>


<% if !hide %>
  <h5>Government URL</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module_one">
  <div class="d-flex justify-content-center">
    <div>
      <span style="color: #9f9aa4; font-size: 40px"><i class="fas fa-link"></i></span>
    </div>
  </div>
  <% if country.government_url.present? %>
    <div class="filled short mt-3">
      <a class="module_URL" href="<%= country&.government_url %>"><%= country&.government_url %></a>
    </div>
    <% else %>
    <div class="empty short mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>


<% if !hide %>
  <h5>Upcoming changes</h5>
<% else %>
  <h5 class="trans"> jhfjyfkug</h5>
<% end %>
<hr class="solid">
<br>
<div class="module">
  <div class="d-flex justify-content-center">
    <div>
      <span style="color: #9f9aa4; font-size: 40px"><i class="fas fa-plus-circle"></i></span>
    </div>
  </div>
  <% if country.upcoming_changes.present? %>
    <div class="filled mt-3">
      <p><%= country&.upcoming_changes %></p>
    </div>
    <% else %>
    <div class="empty mt-3">
      <h5>-</h5>
    </div>
  <% end %>
</div>
<br>

