<br>
<%= simple_form_for compare_countries_path, method: :get, html: { id: 'compare_form' }, remote: true do |f| %>
<div class="container">
  <h2 class= "text-center title-font">Compare Countries Restrictions</h2>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-4 country-col">
      <% if @country_1 %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_1&.id %>
      <% else %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4 country-col">
      <% if @country_2 %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_2&.id %>
      <% else %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4 country-col">
      <% if @country_3 %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_3&.id %>
      <% else %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
  </div>
  <% if (!@country_1 && !@country_2 && !@country_3) %>
    <div class="container cmpr-emty-cntnr justify-content-center text-center my-5">
      <div class="compare-empty">
        <h3> <b>Select countries to start the adventure</b> </h3>
        <br>
        <img class="compare-empty-pic" src="https://res.cloudinary.com/dgw2hw9oa/image/upload/v1623925600/undraw_Select_option_re_u4qn_bgfy4b.png" alt="">
      </div>
    </div>
  <% else %>
    <div class="row pt-3">
      <div class="col-4 country-col">
        <% if @country_1 %>
          <%=  render 'compare', country: @country_1, hide: false %>
        <% end %>
      </div>
      <div class="col-4 country-col">
        <% if @country_2 %>
              <%= render 'compare', country: @country_2, hide: true %>
        <% end %>
      </div>
      <div class="col-4 country-col">
        <% if @country_3 %>
          <%= render 'compare', country: @country_3, hide: true %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
</div>
