<br>
<%= simple_form_for compare_countries_path, method: :get, html: { id: 'compare_form' }, remote: true do |f| %>
<div class="container">
  <h2 class= "text-center">Compare countries restrictions</h2>
  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-4 country-col">
      <% if @country_1 %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_1&.id %>
      <% else %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4 country-col">
      <% if @country_2 %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_2&.id %>
      <% else %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4 country-col">
      <% if @country_3 %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_3&.id %>
      <% else %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
  </div>



  <div class="row pt-3">
     <div class="col-4 country-col">
       <% if @country_1 %>
         <%=  render 'compare', country: @country_1, hide: false %>
        <% else %>
            <i class="fas fa-plus-circle"></i>
            <%= " add a country"  %>
       <% end %>
     </div>
     <div class="col-4 country-col">
       <% if @country_2 %>
            <%= render 'compare', country: @country_2, hide: true %>
       <% end %>
     </div>
     <div class="col-4 country-col">
       <% if @country_3 %>
         <%= render 'compare', country: @country_3, hide: true %>
       <% end %>
     </div>
  </div>
</div>
<% end %>
