<br>
<%= simple_form_for compare_countries_path, method: :get, html: { id: 'compare_form' }, remote: true do |f| %>
<div class="container">
  <h2 class= "text-center title-font">Compare Countries Restrictions</h2>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-4 country-col">
      <% if @country_1 %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_1&.id %>
      <% else %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4 country-col">
      <% if @country_2 %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_2&.id %>
      <% else %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4 country-col">
      <% if @country_3 %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_3&.id %>
      <% else %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
  </div>

  <% if (!@country_1 && !@country_2 && !@country_3) %>
    <div class="container cmpr-emty-cntnr justify-content-center text-center my-5">
      <div class="compare-empty">

        <h3> <b>You are too close... Please select countries to explore more....</b> </h3>
        <br>
        <div class="compare-empty-pic" style="background-image: url(https://media.giphy.com/media/1EACpNdoT31tusELVr/giphy.gif)">
        
      </div>
    </div>
  
  
  <% else %>

    <div class="row pt-3">
      <div class="col-4 country-col">
        <% if @country_1 %>
          <%=  render 'compare', country: @country_1, hide: false %>
        <% end %>
      </div>
      <div class="col-4 country-col">
        <% if @country_2 %>
              <%= render 'compare', country: @country_2, hide: true %>
        <% end %>
      </div>
      <div class="col-4 country-col">
        <% if @country_3 %>
          <%= render 'compare', country: @country_3, hide: true %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
</div>
