<%= simple_form_for compare_countries_path, method: :get, html: { id: 'compare_form' }, remote: true do |f| %>
<div class="container">
  <h1 class= "text-center"><b>Compare countries restrictions</b></h1>
  <br>
  <div class="row">
    <div class="col-4">
      <% if @country_1 %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_1&.id %>
        <div class="d-flex justify-content-center">
          <div class="circle" style="background-color: <%= @country_1&.color %>"></div>
        </div>
        <br>
        <p><b>Status: </b><%= @country_1&.status %></p>
        <hr class="solid">
        <p><b>Quarantine: </b><%= @country_1&.quarantine %></p>
        <hr class="solid">
        <p><b>Test: </b><%= @country_1&.test %></p>
        <hr class="solid">
        <p class="module"><b>Content: </b><%= @country_1&.content %></p>
        <hr class="solid">
        <p><b>Government URL: </b></p>
        <a class="module_URL" href="<%= @country_1&.government_url %>"><%= @country_1&.government_url %></a>
        <hr class="solid">
        <p><b>Upcoming changes: </b><%= @country_1&.upcoming_changes %></p>
      <% else %>
        <%= f.input :country_1, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4">
      <% if @country_2 %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_2&.id %>
        <div class="d-flex justify-content-center">
          <div class="circle" style="background-color: <%= @country_2&.color %>"></div>
        </div>
        <br>
        <p><b>Status: </b><%= @country_2&.status %></p>
        <hr class="solid">
        <p><b>Quarantine: </b><%= @country_2&.quarantine %></p>
        <hr class="solid">
        <p><b>Test: </b><%= @country_2&.test %></p>
        <hr class="solid">
        <p class="module"><b>Content: </b><%= @country_2&.content %></p>
        <hr class="solid">
        <p><b>Government URL: </b></p>
        <a class="module_URL" href="<%= @country_2&.government_url %>"><%= @country_2&.government_url %></a>
        <hr class="solid">
        <p><b>Upcoming changes: </b><%= @country_2&.upcoming_changes %></p>
      <% else %>
        <%= f.input :country_2, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
    <div class="col-4">
      <% if @country_3 %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false, selected: @country_3&.id %>
        <div class="d-flex justify-content-center">
          <div class="circle" style="background-color: <%= @country_3&.color %>"></div>
        </div>
        <br>
        <p><b>Status: </b><%= @country_3&.status %></p>
        <hr class="solid">
        <p><b>Quarantine: </b><%= @country_3&.quarantine %></p>
        <hr class="solid">
        <p><b>Test: </b><%= @country_3&.test %></p>
        <hr class="solid">
        <p class="module"><b>Content: </b><%= @country_3&.content %></p>
        <hr class="solid">
        <p><b>Government URL: </b></p>
        <a class="module_URL" href="<%= @country_3&.government_url %>"><%= @country_3&.government_url %></a>
        <hr class="solid">
        <p><b>Upcoming changes: </b><%= @country_3&.upcoming_changes %></p>
      <% else %>
        <%= f.input :country_3, collection: @countries, value_method: :id, label_method: :name, label: false %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

