<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @country.photo_url %>)">
  <div> <%= @country.name %> <img src="<%= @country.flag_url %>" /> </div>
</div>
<div class="container country-body">
  <div class="row">
    <div class="col-8">
      <div class="travel-info">
          <%= link_to 'Explore Flights', explore_country_path(@country), class: 'btn country-show-btn', id: 'flt-explr' %>
          <h2>Travel information</h2>   
          <% if @alert.nil? %>
            <div class="d-inline bell"><i class="far fa-bell"></i></div>
            <%= link_to "Notify me on status changes", country_alerts_path(@country), method: :post %>
          <% else %>
              <div class="d-inline bell"><i class="far fa-bell-slash"></i></div>
              <%= link_to "Turn off Notifications", alert_path(@alert), method: :delete , data: {confirm: "Are you sure?"} %>
          <% end %>
          <br>
          <br>
          <h5>Entry requirements</h5><br>
          <div class="entry-req-card">
            <div class="d-flex colorcrd">
              <p class="d-inline"><b>Colour Code:</b></p>&nbsp;&nbsp;<div class="color-box" style="background-color: <%= @country&.color == 'Amber' ? 'Orange': @country&.color %>"></div>
            </div>
          </div>
          <div class="entry-req-card">
            <p class="d-inline"><b>Status:</b></p> <%= @country.status.nil? ? "N/A" : @country.status.capitalize %><br>
          </div>
          <div class="entry-req-card">
            <p class="d-inline"><b>Quarantine Requirments:</b></p> <%= @country.quarantine.nil? ? "N/A" : @country.quarantine.capitalize %><br>
          </div>
          <div class="entry-req-card">
            <p class="d-inline"><b>COVID Test Before Arrival:</b></p> <%= @country.test.nil? ? "N/A" : @country.test.capitalize %><br>
          </div>
          <div class="entry-req-card">
            <p class="d-inline"><b>Extra Details:</b></p>  <%= @country.content %><br>
          </div>
          <div class="entry-req-card" id="bottom">
            <p class="d-inline"><b>Upcomming Changes:</b></p> <%= @country.upcoming_changes != " " ? "N/A" : @country.upcoming_changes.capitalize %><br>
          </div>
          <br>
          <div d-flex>
            <a class="btn country-show-btn" href="<%= @country.government_url %>" target="_blank" class="btn btn-info" role="button">Government Website</a> 
            <a class="btn cta-btn country-show-btn" href="<%= compare_countries_path('/countries/compare' => {country_1:@country.id}) %>" class="btn btn-info" role="button">Compare Countries</a>
          </div> 
      </div>
    </div>
    <div class="col cntry-shw-reviews">
      <h2> Users’ feedback </h2>
      <% if @country.reviews.length > 0 %>
        <%= @country.reviews.sum(:stars).fdiv(@country.reviews.size).round(1) %>
        <% @country.reviews.sum(:stars).fdiv(@country.reviews.size).round.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% else %>
         <p>Be the first to leave a review!</p>
      <% end %>
      <br>
      <br>
      <div class="container">
        <% @country.reviews.first(5).each do |review| %>
          <div class="container">
            <div>
              "<%= review.content %>"
            </div>
            - <b><%= review.user.first_name %></b>
            <br>
            <br>
          </div>
        <% end %>
      </div>
      <div class="container">
        <%= simple_form_for [@country, @review] do |f| %>
          <%= f.input :stars, collection: (1..5).to_a, label: false %>
          <%= f.input :content, label: false, placeholder: 'Write your review here' %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
